<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-with-bg">
  <ion-card style="width: 70%; margin: auto; margin-top: 40%; border-radius: 20px">
    <ion-card-header>
      <ion-title style="text-align: center;">Registrarte</ion-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Vinculación del formulario con el FormGroup del componente -->
      <form [formGroup]="formularioRegistro">
        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" placeholder="nombre" formControlName="firsName" type="text">
              <div slot="label">Nombre <ion-text color="danger">*</ion-text></div>
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" placeholder="apellido" formControlName="lastName" type="text">
              <div slot="label">Apellido <ion-text color="danger">*</ion-text></div>
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" placeholder="alumno@duocuc.cl" formControlName="email" type="text">
              <div slot="label">Correo <ion-text color="danger">*</ion-text></div>
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input labelPlacement="floating" placeholder="contraseña" formControlName="password" 
              [type]="mostrarContrasena ? 'text' : 'password'">
              <div slot="label">Contraseña <ion-text color="danger">*</ion-text></div>
            </ion-input>
            <ion-button slot="end" fill="clear" (click)="toggleContrasena()">
              <ion-icon slot="icon-only" name="{{ mostrarContrasena ? 'eye-off' : 'eye' }}"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>

        <!-- Vinculación del botón con la función de validación -->
        <ion-button class="btn-register" (click)="crearCuenta()" expand="block" fill="clear" shape="round">
          Crear cuenta nueva
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
