.ion-content-with-bg {
    --background: none;
    background: url('/assets/img/duoc_entrada.jpg') no-repeat center center / cover;
  }

  .custom-card {
    position: relative;
  }
  
  .custom-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: -1;
    opacity: 10%;
  }

  
  