<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        color="primary"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  <ion-card-header>
    <ion-card-title>Plataforma Estudiantil y Docente Integrada</ion-card-title>
    <ion-card-subtitle>Estamos encantados de presentarte nuestra innovadora plataforma diseñada tanto para estudiantes como para docentes. Con el objetivo de simplificar y agilizar el proceso de asistencia en el aula, hemos incorporado una función de escaneo de códigos QR.</ion-card-subtitle>
  </ion-card-header>
 </ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Para Estudiantes</ion-card-title>
    <ion-card-subtitle>Como estudiante, ya no tendrás que preocuparte por firmar hojas de asistencia o esperar a que el profesor tome la lista. Simplemente escanea el código QR que aparecerá en la pantalla del docente al inicio de cada clase. Este sencillo acto registrará automáticamente tu asistencia en nuestro sistema, permitiéndote dedicar más tiempo a tu aprendizaje.</ion-card-subtitle>
  </ion-card-header>
 </ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Para Docentes</ion-card-title>
    <ion-card-subtitle>Si eres docente, esta plataforma te permitirá generar un código QR único para cada clase que impartas. Al mostrar este código en la pantalla, facilitarás que tus estudiantes registren su asistencia de manera eficiente. No más pérdida de tiempo tomando lista; podrás enfocarte en lo más importante: enseñar.</ion-card-subtitle>
  </ion-card-header>
 </ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Términos y Condiciones</ion-card-title>
    <ion-card-subtitle>Al utilizar esta plataforma, aceptas los siguientes términos y condiciones básicos:</ion-card-subtitle>
    <ion-card-subtitle>Privacidad: Nos comprometemos a proteger la privacidad de los usuarios. No compartiremos tu información con terceros sin tu consentimiento explícito.</ion-card-subtitle>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
  </ion-card-header>
 </ion-card>
</ion-content>
