.ion-content-with-bg {
  --background: none;
  background: url("/assets/img/duoc_entrada.jpg") no-repeat center center /
    cover;
}

.img-container {
  display: flex;
  justify-content: center;
  // padding-top: 60%;
}

.ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto asegura que ocupe toda la altura de la ventana */
}

.custom-card {
  width: 70%; /* Ajusta el tamaño que desees */
  margin: auto; /* Centra la tarjeta horizontalmente */
  text-align: center; /* Centra el contenido interno horizontalmente */
  background-color: rgba(82, 78, 78, 0.7); /* Color de fondo con transparencia */
  border: none; /* Quita el borde si lo tienes */
  box-shadow: none; /* Quita la sombra si la tienes */
}

.custom-card img {
  display: block; /* Asegura que la imagen sea un elemento de bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}


.custom-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
  opacity: 10%;
}

.btn-login {
  background-color: yellow;
  color: black;
  border-radius: 15px;
  padding-top: 5px;
}
