<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon
          slot="icon-only"
          name="menu-outline"
          color="success"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a RegistrAPP</ion-card-title>
      <ion-card-subtitle>
        Esta será tu nueva plataforma estudiantil, en la cual podrás registrar tu asistencia simplemente escaneando el código QR que aparecerá en la pantalla del docente.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-datetime></ion-datetime>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div>
          <ion-card-title>Feriados</ion-card-title>
          <ion-card-subtitle>Estos son los feriados para el año 2023</ion-card-subtitle>
        </div>
        <ion-button fill="clear" (click)="cambiarFiltro()">
          <ion-icon [name]="filterActive ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </div>
      <ion-list>
        <!-- Muestra el skeleton loader si los datos están cargando -->
        <ng-container *ngIf="loading; else loadedList">
          <ion-item>
            <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-item>
          <ion-item>
            <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-item>
          <ion-item>
            <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          </ion-item>
        </ng-container>
  
        <!-- Muestra la lista cuando los datos están cargados -->
        <ng-template #loadedList>
          <ion-item [button]="true" *ngFor="let item of feriados">
            <ion-icon slot="start" color="primary" [name]="item.title ? 'ellipse' : ''"></ion-icon>
            <ion-label>
              <h2>{{ item.title }}</h2>
              <p>{{ item.date }}</p>
            </ion-label>
          </ion-item>
        </ng-template>
      </ion-list>
    </ion-card-header>
  </ion-card>
  


</ion-content>
